body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

.header {
    height: 77px;
    border-bottom: 1.9px solid black;
    display: flex;
    align-items: center;
}

.fleche img {
    width: clamp(80px, 10vw, 140px);
    margin-left: 28px;
}

.fleche:hover {
    opacity: 0.4;
}

h1 {
    text-align: center;
    font-weight: 200;
    font-size: clamp(40px, 5vw, 60px);
    margin-top: 80px;
    text-underline-offset: 20px;
    margin-bottom: 0 !important;
}

h2 {
    text-align: center;
    font-weight: 200;
    font-size: clamp(40px, 5vw, 60px);
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 20px;
    margin-top: 15px !important;
}

h3 {
    text-align: center;
    margin-top: 80px;
    font-weight: 200;
    font-size: clamp(40px, 5vw, 55px);
    margin-bottom: 0 !important;
}

h4 {
    text-align: center;
    font-weight: 200;
    font-size: clamp(20px, 4vw, 35px);
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 20px;
    margin-top: 5px !important;
    margin-bottom: 0 !important;
}

h5 {
    text-align: center;
    margin-top: 80px;
    font-weight: 200;
    font-size: clamp(40px, 5vw, 55px);
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 20px;
    margin-bottom: 0 !important;
}

.texte {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: 300;
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloc {
    margin-bottom: 100px;
    text-align: center;
}

.bloc img {
    width: 80%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 50px;
}

.bloc-rectangle img {
    max-height: 470px;
}

.bloc-carre img {
    width: 50%;
    max-width: 800px;
    height: auto;
}

.bloc-passi img {
    max-width: 900px;
}

.bloc a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: clamp(30px, 5vw, 5px);
    font-weight: 200;
}

.bloc a:hover {
    opacity: 0.5;
}

.fullscreen-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: default;
}

.fullscreen-image {
    cursor: zoom-in;
}

.fullscreen-container.max-zoom,
.fullscreen-container.max-zoom .fullscreen-image {
    cursor: zoom-out;
}

.fullscreen-container.space-active,
.fullscreen-container.zoomed.space-active,
.fullscreen-container.zoomed.space-active .fullscreen-image {
    cursor: grab;
}

.fullscreen-container.space-active.dragging,
.fullscreen-container.zoomed.space-active.dragging .fullscreen-image {
    cursor: grabbing;
}

.hint {
    position: fixed;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    pointer-events: none;
}

.fullscreen-image {
    max-width: 90vw;
    max-height: 90vh;
    margin-top: 1.3rem;
}

.fullscreen-close:hover {
    opacity: 0.3;
    transform: none;
}

.fullscreen-close {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.fullscreen-container,
.fullscreen-image {
    user-select: none;
    -webkit-user-drag: none;
}

.bloc:hover img {
    transform: scale(0.9);
    cursor: pointer;
}

.bloc img {
    transition: transform 5s ease;
    border-radius: 1%;
}

.ligne {
    border-bottom: 1.9px solid black;
    width: 600px;
    margin: 0 auto 150px;
}

@media (max-width: 768px) {

    html,
    body {
        overflow-x: hidden;
    }

    .header {
        display: flex;
        align-items: center;
        padding: 0 20px;
    }

    .fleche img {
        margin-left: 0;
    }

    h1,
    h2,
    h3,
    h5 {
        font-size: 28px;
        margin-top: 40px !important;
        text-underline-offset: 10px;
    }

    h4 {
        font-size: 20px;
        margin-bottom: 10px !important;
    }

    h1 {
        font-size: 40px;
        margin-bottom: -25px !important;
        margin-top: 20px !important;
        font-weight: 200;
    }

    h2 {
        margin-bottom: 25px !important;
        font-size: 25px;
    }

    .texte {
        max-height: 245px;
        overflow-y: auto;
        padding: 20px;
        font-size: 18px;
        line-height: 1.6;
        text-align: left;
        border-bottom: 1px solid #a0a0a0;
        padding-top: 5px;
    }

    .bloc {
        margin-bottom: 60px;
    }

    .bloc img {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    .bloc-passi img,
    .bloc-rectangle img,
    .bloc-carre img {
        margin: 0 !important;
        height: auto;
        padding: 20px;
    }

    .bloc a {
        font-size: 20px;
    }

    .ligne {
        width: 90%;
        margin: 60px auto;
    }

    .fullscreen-container {
        padding: 20px;
        overflow: hidden;
    }

    .fullscreen-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin-top: 0;
        margin-right: 38px;
    }

    .fullscreen-close {
        top: -5px;
        right: -40px;
        width: 250px;

    }

    .hint {
        font-size: 14px;
        top: 10px;
    }

    .fullscreen-container p {
        display: none;
    }

    h2,
    h3,
    h4,
    h5 {
        font-weight: 300;
    }

    p,
    .texte,
    .bloc a {
        font-weight: 300;
    }

}